{% extends "layout.html" %}
{% block content %}
    <div style="background-image:url('../static/images/logo.png')">
    <h1>About Page</h1>


    <div class="jumbotron">
            <h1 class="display-4">I am ARKA, from KJSCE</h1>
            <p class="lead">So, it seems you finally landed on the "About Page", the cliched place for all your answers to a messy site.</p>
            <hr class="my-4">
            <p>I wanted to talk about what I've done here, how much of pain it was to get this running, and finally, about what a wholesome experience it was and what it taught me.</p>
            <p>1. Firstly, this website is built on Flask, a web framework of python. If you don't know what that is,<a href="https://flask.palletsprojects.com/en/1.0.x/">This is Flask, from the creators.</a>
            The backend is punctuated with routes mapping HTML pages and flask functions all mashed up together. I have been at this for more than 2 weeks, and I must say, it's quite the learning curve.
            I was just a beginner at python. To come up to this, is an achievemen, even if the site looks pretty shabby.</p>
            <p>2.Just so if you were wondering, I have used JavaScript, HTML5, CSS3, and Bootstrap to make the webpages and style them. It's a lot of work, but when the product comes right, the feeling is sweet.
                 If you are not familiar with any of these,<a href="https://developer.mozilla.org/en-US/docs/Web/HTML">Mozilla's pages on HTML</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">Mozilla's pages on CSS</a>,
                 <a href="https://www.javascript.com/">Plural Sight's JavaScript Page</a>, <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Getting started with Bootstrap</a>
            </p>
            <p>3.Some small things - I've used things like JavaScript cookies to make a cookie(obviously) - It stores the background colour preference and keeps it for 24 hours. Try it yourself - <a href="https://alexcican.com/post/set-cookies-javascript/">JavaScript cookies(Check out the site too while you're at it)</a>
            Also, you'll notice the strange date and time if you stare closely to the space to the right of the post titles. This is the time your PC sees, and I kept it that way for a geek effect. The name of the title acts as a link to the posts by the user, and you'll also find a pagination marker(the box with the number) at the bottom. Neat, isn't it?</p>
            <p>Not wanting to drag this out, I'll leave you to explore, post, and use this site in whatever way you can. It was an experience for me, and I'll be glad if it's something for you too!! cheers!</p>
          
    </div>    
</div>
{% endblock content %}